*{
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    background-color: #EFEFEF;
    display: flex;
    justify-content: flex-start;
    min-height: 100vh;
    flex-direction: column;
}

.header{
    position: fixed;
    width: 100%;
    height: 5em;
    z-index: 1;
}

.main-header{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: 100%;
    background-color: #000;
    text-align: center;
}

.logo{
    width: 7em;
    margin-left: 1%;

}

.logo-img{
    width: 100%;
}

.content{
    display: flex;
    margin-left: 2%;
    height: 5em;
}
.page1{
    margin: 0.9em 0.9em 0.9em 1em;
}

.page2{
    margin: 0.9em 0.9em 0.9em 1em;
}

.page3{
    margin: 0.9em 0.9em 0.9em 1em;
}

.page4{
    margin: 0.9em 0.9em 0.9em 1em;
}

.search, .form-search{
    position: absolute;
    flex-wrap: wrap;
    width: 58%;
    height: 50px;
    margin-top: 7px;
    float: left;
    left: 35%;
}

.form-search{
    padding: 10px;
    border-radius: 5px;
}

::placeholder{
    font-size: 20px;
    text-transform: uppercase;
}

.user{
    display: flex;
    position: absolute;
    width: 12em;
    right: -3em;

}

.cart{
    display: flex;
    width: 5em;
    height: 5em;
    position: absolute;
    right:0;
    margin-top: -0.4em;
}

.user-img{
    width: 100%;
    margin-top: 1em;
    margin-right: 3em;
}

.cart-img{
    width: 80%;
    margin-top: 0.7em;
}

div .row-1{
    border: 1px solid rgba(0,0,0,.125);
    border-radius: 5px;
    padding: 5px 15px 10px 15px;
}

.row-1 > input{
    width: 95%;
    border: 1px solid rgba(0,0,0,.125);
    padding: 2px;
    font-size: 20px;
}

input[type="text"]{
    outline: none;
}

div .email{
    border: 1px solid rgba(0,0,0,.125);
    border-radius: 5px;
    padding: 5px 15px 10px 15px;
    margin: 15px 0 15px 0;
    width: 80%;
}

div .phone{
    border: 1px solid rgba(0,0,0,.125);
    border-radius: 5px;
    padding: 5px 15px 10px 15px;
    margin: 15px 0 15px 20px;
}

div .address{
    border: 1px solid rgba(0,0,0,.125);
    border-radius: 5px;
    padding: 5px 15px 10px 15px;
    margin-bottom: 15px;
    width: 100%;
}

div .row-3{
    display: flex;
    flex-direction: row;
    width:100%;
    margin-bottom: 30px;
}

div .country{
    border: 1px solid rgba(0,0,0,.125);
    border-radius: 5px;
    padding: 5px 15px 10px 15px;
    margin-right: 10px;
    width:50%;
}

div .quan{
    flex-wrap: wrap;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: 5px;
    padding: 5px 15px 10px 15px;
    margin-left: 10px;
    width:50%;
}

div .row-4{
    width: 100%;
    margin-bottom: 20px;
}

.row-4 > input{
    width: 20px;
    height: 20px;
}

.row-4 > label{
    font-size: 25px;
}

div .row-5{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.payment{
    display: flex;
    flex-direction: row;
}

.card_pay{
    width: 500px;
    margin: 20px 0 0 100px;
}

.email > input{
    border: 1px solid rgba(0,0,0,.125);
    padding: 2px;
    width: 100%;
    font-size: 20px;
}

.phone > input{
    border: 1px solid rgba(0,0,0,.125);
    padding: 2px;
    font-size: 20px;
}

.address > input{
    border: 1px solid rgba(0,0,0,.125);
    padding: 2px;
    width: 100%;
    font-size: 20px;
}

.country > select{
    border: 1px solid rgba(0,0,0,.125);
    padding: 2px;
    width: 100%;
    font-size: 20px;
}

.quan > input{
    border: 1px solid rgba(0,0,0,.125);
    padding: 2px;
    width: 100%;
    font-size: 20px;
}

input[type="email"]{
    outline: none;
}

input[type="tel"]{
    outline: none;
}

div .row{
    border: 1px solid rgba(0,0,0,.125);
}

.title-card{
    text-align: center;
    margin-top: 2em;
    margin-bottom: 0.7em;
}

.container {
    padding-right: 15px;
    padding-left: 15px;
    margin: 2.5em auto auto auto;
}

form{
    display: grid;
    flex-direction: row;
}

div .row-2, .row-3{
    display: flex;
}

.back{
    text-align: center;
    width: 200px;
    font-size: 20px;
    height: 40px;
    margin-top: 50px;
}

.end{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.buttons{
    width: 250px;
    margin: 50px 50px 20px 0;
}

.button{
    padding: 1.5em 1.7em;
    border: none;
    text-transform: UPPERCASE;
    font-weight: bold;
    -webkit-transition: background .3s ease;
    transition: background .3s ease;
}

.button:hover{
    background-color: #000;
    color: white;
    box-shadow: 0 1px 20px 0 rgba(0, 0, 0, 0.5);
    transform:translateY(-1px);
}

footer{
    position: relative;
    width: 100%;
    height: auto;
    padding: 50px 100px;
    background: #111;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 16.6em;
}


footer .container{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    flex-direction: row;
}

footer .container .noi-dung{
    margin-right: 30px;
}

footer  .container .noi-dung.about{
    width:40%;
}

footer .container .noi-dung.about h2{
    position: relative;
    color: #fff;
    font-weight: 500;
    margin-bottom: 10px;
}

footer .container .noi-dung.about p{
    color: #999;
    line-height: 1.6em;
}

.social-icon{
    margin-top: 20px;
    display: flex;
}

.social-icon li {
    list-style: none;
}

.social-icon li a{
    display: inline-block;
    width: 40px;
    height: 40px;
    background: #222;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
    text-decoration: none;
    border-radius: 4px;
}

.social-icon li a:hover{
    background: #f00;
}

.social-icon li a .fa{
    color: #fff;
    font-size: 20px;
}

.links h2{
    position: relative;
    color: #fff;
    font-weight: 500;
    margin-bottom: 15px;
}

.links h2{
    position: relative;
    color: #fff;
    font-weight: 500;
    margin-bottom: 15px;
}

/* .links h2::before{
    content: '';
    position: absolute;
    bottom: -5px;
    left: 0;
    width: 50px;
    height: 2px;
    background: #f00;
} */

.links{
    position: relative;
    width: 25%;
}

.links ul li{
    list-style: none;
}

.links ul li a{
    color: #999;
    text-decoration: none;
    margin-bottom: 10px;
    display: inline-block;
    line-height: 1.2em;
}

.links ul li a:hover{
    color: #fff;
}

.contact h2{
    position: relative;
    color: #fff;
    font-weight: 500;
    margin-bottom: 15px;
}
/* .contact h2::before{
    content: '';
    position: absolute;
    bottom: -5px;
    left: 0;
    width: 50px;
    height: 2px;
    background: #f00;
} */
.contact{
    width: calc(35% - 60px);
    margin-right: 0 !important;
}
.contact .info{
    position: relative;
}
.contact .info li{
    display: flex;
    margin-bottom: 16px;
    line-height: 1.9em;
}
.contact .info li span:nth-child(1) {
    color: #fff;
    font-size: 20px;
    margin-right: 10px;
}
.contact .info li span{
    color: #999;
}
.contact .info li a{
    color: #999;
    text-decoration: none;
}

.fa-map-marker{
    margin-right: 10px;
}

.fa-envelope{
    margin-left: -5px;
}

@media  (max-width: 656px){
    header {
        height: 10em;
    }

    footer{
        padding: 40px;
    }
    footer .container{
        flex-direction: column;
    }
    footer .container .noi-dung{
        margin-right: 0;
        margin-bottom: 40px;
    }
    footer .container, .noi-dung.about, .links, .contact{
        width: 100%;
    }

    .header {
        height: 150px;
    }

    .search, .form-search{
        left: 3.5em;
    }

    .form-search{
        width: 97%;
    }

    .content{
        margin-top: -2.5em;
    }
}


