*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #EFEFEF;
    display: flex;
    justify-content: flex-end;
    /* min-height: 100vh; */
    flex-direction: column;
}
.container{
    position: relative;
    z-index: 1;
}

.header{
    position: fixed;
    width: 100%;
    height: 5em;
    z-index: 1;
}

.main-header{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
    background-color: #000;
    text-align: center;
}

.logo{
    width: 7em;
    margin-left: 1%;

}

.logo-img{
    width: 100%;
}

.content{
    display: flex;
    margin-left: 2%;
    height: 5em;
}
.page1{
    margin: 0.9em 0.3em 0.9em 1em;
    text-decoration: none;
}

.nut_dropdown {
    background-color: #000;
    color: white;
    padding: 14px;
    
    font-size: 27px; 
    font-weight: bold;
    font-family: monospace;
    border: none;
}

.nut_dropdown:hover, .nut_dropdown:focus{
    background-color: #000;
}

.noidung_dropdown {
    /*Ẩn nội dụng các đường dẫn*/
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0);
    z-index: 1;
}

.noidung_dropdown a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.hienThi{
    display:block;
}

.page3{
    margin: 0.9em 0.3em 0.9em 0.5em;
}

.page4{
    margin: 0.9em 0.3em 0.9em 0.5em;
}

.search, .form-search{
    position: absolute;
    flex-wrap: wrap;
    width: 58%;
    height: 50px;
    margin-top: 7px;
    float: left;
    left: 35%;
    display: flex;
}

.form-search{
    padding: 10px;
    border-radius: 5px;
    outline: none;
}

.icon-search{
    width: 40px;
    z-index: 1;
    position: relative;
    top: 0.8em;
    left: 24.4em;
    height: 40px;
}

::placeholder{
    font-size: 20px;
    text-transform: uppercase;
}

.user{
    display: flex;
    position: absolute;
    width: 12em;
    right: -3em;

}

.popup {
    display: none;
    position: fixed;
    padding-top: 50px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.5);
}

.card {
    width: 400px;
    height: 400px;
    background: #F4F6FB;
    border: 1px solid white;
    box-shadow: 10px 10px 64px 0px rgba(180, 180, 207, 0.75);
    -webkit-box-shadow: 10px 10px 64px 0px rgba(186, 186, 202, 0.75);
    -moz-box-shadow: 10px 10px 64px 0px rgba(208, 208, 231, 0.75);
}

.form {
    padding: 25px;
    margin: 10% 42% 20% 42%;
}

.card_header {
    display: flex;
    align-items: center;
}

.card svg {
    color: #7878bd;
    margin-bottom: 20px;
    margin-right: 5px;
}

.form_heading {
    font-size: 40px;
    padding-bottom: 20px;
    color: #7878bd;
}

.field {
    padding-bottom: 10px;
}

div > .input{
    border-radius: 5px;
    background-color: #e9e9f7;
    padding: 9px 5px 5px 5px;
    width: 100%;
    height: 3em;
    color: #7a7ab3;
    border: 1px solid #dadaf7;
}

.input:focus-visible {
    outline: 1px solid #aeaed6;
}

.input::placeholder {
    color: #bcbcdf;
}

label {
    color: #B2BAC8;
    font-size: 1.4rem;
    display: block;
    padding-bottom: 4px;
}

button {
    background-color: #7878bd;
    margin-top: 10px;
    font-size: 14px;
    padding: 7px 12px;
    font-weight: 500;
    color: white;
}

button:hover {
    background-color: #5f5f9c;
}

.cart{
    display: flex;
    width: 5em;
    height: 5em;
    position: absolute;
    right:0;
    margin-top: -0.4em;
}

.user-img{
    width: 200%;
    margin-top: 0em;
    margin-right: 3em;
}

.cart-img{
    width: 80%;
    margin-top: 0.7em;
}

.preloading {
    overflow: hidden;
}
.preload-container {
    width: 100%;
    height: 100%;
    background: #ef6e7e;
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: 99999999999;
    display: block;
    padding-right: 17px;
    overflow-x: hidden;
    overflow-y: auto;
    text-align: center;
    background: #F4F6FB;
    height: 1080px;
}
.preload-icon {
    font-size: 66px;
    color: #fff;
    margin-top: 20%;
}

section {
    width: 50%;
    display: inline-block;
    text-align: center;
    vertical-align: center;
    margin-top: 15%;
}

.loader {
    position: relative;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    margin: 75px;
    display: inline-block;
    vertical-align: middle;
}

.loader-17 .css-square { 
    position: absolute;
    top: 50%;
    width: 25px; height: 7px;
    background: black;
    -webkit-box-shadow: 2px 2px 3px 0px black;
            box-shadow: 2px 2px 3px 0px black;
 }

  
.loader-17 .square1 {
      left: 70px;
      -webkit-animation: dominos 1s 0.125s ease infinite;
      animation: dominos 1s 0.125s ease infinite;
}
  
.loader-17 .square2 {
      left: 60px;
      -webkit-animation: dominos 1s 0.3s ease infinite;
      animation: dominos 1s 0.3s ease infinite;
}
  
.loader-17 .square3 {
      left: 50px;
      -webkit-animation: dominos 1s 0.425s ease infinite;
      animation: dominos 1s 0.425s ease infinite;
}
  
.loader-17 .square4 {
      left: 40px;
      -webkit-animation: dominos 1s 0.540s ease infinite;
      animation: dominos 1s 0.540s ease infinite;
}
  
.loader-17 .square5 {
      left: 30px;
      -webkit-animation: dominos 1s 0.665s ease infinite;
      animation: dominos 1s 0.665s ease infinite;
}
  
.loader-17 .square6 {
      left: 20px;
      -webkit-animation: dominos 1s 0.79s ease infinite;
      animation: dominos 1s 0.79s ease infinite;
}
  
.loader-17 .square7 {
      left: 10px;
      -webkit-animation: dominos 1s 0.9s ease infinite;
      animation: dominos 1s 0.9s ease infinite;
}
  
.loader-17 .square8 {
      left: 0px;
      -webkit-animation: dominos 1s 1s ease infinite;
      animation: dominos 1s 1s ease infinite;
}

@-webkit-keyframes dominos {
    50% { opacity: 0.7; }
    75% { -webkit-transform: rotate(90deg); transform: rotate(90deg); }
    80% { opacity: 1; } 
}
      
  
@keyframes dominos {
    50% { opacity: 0.7; }
    75% { -webkit-transform: rotate(90deg); transform: rotate(90deg); }
    80% { opacity: 1; } 
}

.slideshow{
    overflow: hidden;
    height: 1100px;
    width: 1920px;
    margin: 0 auto;
}

.slide-wrapper{
    width: 9600px;
    -webkit-animation: slide 20s ease infinite;
}

.slide{
    float: left;
    width: 1920px;
    height: 1080px;
    margin-top: 63px;
}

@-webkit-keyframes slide{
    10% {margin-left: 0px;}
    20%{margin-left: -1920px;}
    30%{margin-left: -1920px;}
    40% {margin-left: -3840px;}
    50% {margin-left: -3840px;}
    60% {margin-left: -5760px;}
    70% {margin-left: -5760px;}
    80% {margin-left: -7680px;}
    90% {margin-left: -7680px;}
}

footer{
    position: relative;
    width: 100%;
    height: auto;
    padding: 50px 100px;
    background: #111;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
footer .container{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    flex-direction: row;
}

footer .container .noi-dung{
    margin-right: 30px;
}

footer  .container .noi-dung.about{
    width:40%;
}

footer .container .noi-dung.about h2{
    position: relative;
    color: #fff;
    font-weight: 500;
    margin-bottom: 10px;
}

/* footer .container .noi-dung.about h2:before{
    content: '';
    position: absolute;
    bottom: -5px;
    left: 0;
    width:173px;
    height: 2px;
    background: #f00;
} */

@-webkit-keyframes ico{
    0% { color: #F8CD0A; } 
    50% { color: #fff;  } 
    100% { color: #F8CD0A;  } 
}
@-moz-keyframes ico{ 
    0% { color: #F8CD0A;  } 
    50% { color: #fff;  }
    100% { color: #F8CD0A;  } 
}
@-o-keyframes ico{ 
    0% { color: #F8CD0A; } 
    50% { color: #fff; } 
    100% { color: #F8CD0A;  } 
}
@keyframes ico{ 
    0% { color: #F8CD0A;  } 
    50% { color: #fff;  }
    100% { color: #F8CD0A;  } 
} 

.ico-product{
    position: absolute;
    right: 0px;
    margin: 10px 10px 0 0;
    padding: 5px 16px;
    background: red;
    color: #FFF;
    font-weight: bold;
    font-size: 20px;
    -webkit-animation:ico 700ms infinite;
	-moz-animation: ico 700ms infinite; 
	-o-animation: ico 700ms infinite; 
	animation: ico 700ms infinite;
}

.onsale{
    display: inline-flex;
    align-items: center;
    margin: 10px 0 0 10px;
    height: 1.7rem;
    font-weight: 500;
    font-size: 1.25rem;
    z-index: 1;
    color: #fff;
    text-align: center;
    line-height: normal;
    padding: 0 0.25rem;
    border-radius: 0.125rem;
    background: linear-gradient(-90deg,#ec1f1f 0,#ff9c00 100%);
    position: absolute;
}

footer .container .noi-dung.about p{
    color: #999;
    line-height: 1.6em;
}

.social-icon{
    margin-top: 20px;
    display: flex;
}

.social-icon li {
    list-style: none;
}

.social-icon li a{
    display: inline-block;
    width: 40px;
    height: 40px;
    background: #222;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
    text-decoration: none;
    border-radius: 4px;
}

.social-icon li a:hover{
    background: #f00;
}

.social-icon li a .fa{
    color: #fff;
    font-size: 20px;
}

.links h2{
    position: relative;
    color: #fff;
    font-weight: 500;
    margin-bottom: 15px;
}

.links h2{
    position: relative;
    color: #fff;
    font-weight: 500;
    margin-bottom: 15px;
}

/* .links h2::before{
    content: '';
    position: absolute;
    bottom: -5px;
    left: 0;
    width: 50px;
    height: 2px;
    background: #f00;
} */

.links{
    position: relative;
    width: 25%;
}

.links ul li{
    list-style: none;
}

.links ul li a{
    color: #999;
    text-decoration: none;
    margin-bottom: 10px;
    display: inline-block;
    line-height: 1.2em;
}

.links ul li a:hover{
    color: #fff;
}

.contact h2{
    position: relative;
    color: #fff;
    font-weight: 500;
    margin-bottom: 15px;
}
/* .contact h2::before{
    content: '';
    position: absolute;
    bottom: -5px;
    left: 0;
    width: 50px;
    height: 2px;
    background: #f00;
} */
.contact{
    width: calc(35% - 60px);
    margin-right: 0 !important;
}
.contact .info{
    position: relative;
}
.contact .info li{
    display: flex;
    margin-bottom: 16px;
    line-height: 1.9em;
}
.contact .info li span:nth-child(1) {
    color: #fff;
    font-size: 20px;
    margin-right: 10px;
}
.contact .info li span{
    color: #999;
}
.contact .info li a{
    color: #999;
    text-decoration: none;
}

.fa-map-marker{
    margin-right: 10px;
}

.fa-envelope{
    margin-left: -5px;
}

@media screen and (min-width: 1900px){
    .container{
        max-width: 1900px;
    }
}

@media screen and (max-width: 450px){
    
    .header{
        position: fixed;
        width: 100vw;
        height: 9.8em;
    }
    
    .main-header{
        width: 100%;
        height: 100%;
        background-color: #000;
    }

    .content{
        display: none;
    }

    .search{
        /* position: relative; */
        margin: 5em -87%;
        width: 160%;
    }

    .form-search{
        padding: 10px;
        border-radius: 5px;
        outline: none;
    }
    
    .icon-search{
        display: none;
    }

    .slideshow{
        display: none;
    }

    .home-product {
        margin-top:  150px;
        margin-bottom: 10px;
        margin-left: 3em;
    }
    
    
    .home-product-item {
        background-color: white;
        margin-top: 10px;
        position: relative;
        border-radius: 2px;
        box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.1);
        transition: transform linear 0.1s;
        will-change: transform;
        display:flex;
        text-decoration: none;
        padding-bottom: 6px;
        width: 20em;
    }
    
    
    .home-product-item:hover {
        box-shadow: 0 1px 20px 0 rgba(0, 0, 0, 0.5);
        transform:translateY(-1px);
    }
    
    .home-product-item__img {
        padding-top: 100%;
        background-size:contain;
        background-position: center;
        background-repeat: no-repeat;
        border-top-left-radius: 2px;
        border-top-right-radius: 2px;
    }
    
    .home-product-item__name {
        font-size: 1.4rem;
        font-weight: 400;
        color: #666;
        line-height: 1.8rem;
        height: 3.6rem;
        margin: 10px 10px 6px;
        overflow: hidden;
        display: block;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 2;
    }
    
    .home-product-item__price {
        display: flex;
        align-items: baseline;
        flex-wrap: wrap;
    }
    
    .home-product-item__price-old {
        font-size: 1.4rem;
        margin-left:10px;
        color: #666;
        text-decoration: line-through;
    }
    
    .home-product-item__price-current {
        font-size: 1.6rem;
        color: rgb(230, 26, 26);
        margin-left: 10px;
        font-weight: bold;
        font-family: roboto, arial, helvetica;
    }
    
    
    .home-product-item__origin {
        display: flex;
        justify-content: space-between;
        margin: 3px 10px 0;
        font-size: 1.2rem;
        font-weight: 300;
        color: #595959;
    }
    
    .home-product-item__brand{
        font-family: monospace;
        font-size: 1.1rem;
    }

    .grid__row {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        margin-left: -23px;
        margin-right: 6px;
    }
    
    .grid__column-2-4 {
        padding-left: 5px;
        padding-right: px;
        width:0;
    }

    #best-product {
        width: auto;
        background-color: #000;
        padding: 15px;
        font-size: 27px;
        color: #fff;
        margin-right: -40%;
        font-family: monospace;
        font-weight: bold;
        margin-left: -2%;
    }
    

    label{
        font-size: 1.1rem;
    }

    footer{
        position: relative;
        width: 100%;
        height: auto;
        padding: 50px 100px;
        background: #111;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }
    footer .container{
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        flex-direction: column;
    }
    
    footer .container .noi-dung{
        margin-left: -30px;
    }
    
    footer  .container .noi-dung.about{
        width:100%;
        font-size: 20px;
    }

    footer  .container .noi-dung.links{
        width:100%;
        font-size: 20px;
    }

    footer  .container .noi-dung.contact{
        width:100%;
        font-size: 20px;
    }
    
    footer .container .noi-dung.about h2{
        position: relative;
        color: #fff;
        font-weight: 500;
        margin-bottom: 10px;
    }
    
}

#best-product{
    width: auto;
    background-color: #000;
    padding: 15px;
    font-size: 27px;
    color: #fff;
    margin-right: 1.6em;
    font-family: monospace;
    font-weight: bold;
}

#best-seller{
    width: auto;
    background-color: #000;
    padding: 15px;
    font-size: 27px;
    color: #fff;
    margin-right: 1.6em;
    margin-top: 0.5em;
    font-family: monospace;
    font-weight: bold;
}

#gaming{
    width: auto;
    background-color: #000;
    padding: 15px;
    font-size: 27px;
    color: #fff;
    margin-right: 1.6em;
    margin-top: 0.5em;
    font-family: monospace;
    font-weight: bold;
}

#office{
    width: auto;
    background-color: #000;
    padding: 15px;
    font-size: 27px;
    color: #fff;
    margin-right: 1.6em;
    margin-top: 0.5em;
    font-family: monospace;
    font-weight: bold;
}

#workstation{
    width: auto;
    background-color: #000;
    padding: 15px;
    font-size: 27px;
    color: #fff;
    margin-right: 1.6em;
    margin-top: 0.5em;
    font-family: monospace;
    font-weight: bold;
}

.grid__row{
    display: flex;
    flex-wrap: wrap;
    /* flex-direction: row; */
    margin-left: -5px;
    margin-right: -5px;
}


.grid__column-2-4 {
    padding-left: 5px;
    padding-right: 5px;
    width:20%;
}


.home-product {
    margin-bottom: 10px;
    margin-left: 3em;

}


.home-product-item {
    background-color: white;
    margin-top: 10px;
    position: relative;
    border-radius: 2px;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.1);
    transition: transform linear 0.1s;
    will-change: transform;
    display:block;
    text-decoration: none;
    padding-bottom: 6px;
    width: 20em;
}


.home-product-item:hover {
    box-shadow: 0 1px 20px 0 rgba(0, 0, 0, 0.5);
    transform:translateY(-1px);
}

.home-product-item__img {
    padding-top: 100%;
    background-size:contain;
    background-position: center;
    background-repeat: no-repeat;
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
}

.home-product-item__name {
    font-size: 1.4rem;
    font-weight: 400;
    color: #666;
    line-height: 1.8rem;
    height: 3.6rem;
    margin: 10px 10px 6px;
    overflow: hidden;
    display: block;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
}

.home-product-item__price {
    display: flex;
    align-items: baseline;
    flex-wrap: wrap;
}

.home-product-item__price-old {
    font-size: 1.4rem;
    margin-left:10px;
    color: #666;
    text-decoration: line-through;
}

.home-product-item__price-current {
    font-size: 1.6rem;
    color: rgb(230, 26, 26);
    margin-left: 10px;
    font-weight: bold;
    font-family: roboto, arial, helvetica;
}


.home-product-item__origin {
    display: flex;
    justify-content: space-between;
    margin: 3px 10px 0;
    font-size: 1.2rem;
    font-weight: 300;
    color: #595959;
}

.home-product-item__brand{
    font-family: monospace;
    font-size: 1.1rem;
}

