*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #FEFEFE;
    display: flex;
    justify-content: flex-start;
    min-height: 100vh;
    flex-direction: column;
}

html{
    background-color: #FEFEFE;
}

.header{
    position: fixed;
    width: 100%;
    height: 5em;
    z-index: 1;
}

.main-header{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: 100%;
    background-color: #000;
    text-align: center;
}

.logo{
    width: 7em;
    margin-left: 1%;

}

.logo-img{
    width: 100%;
}

.content{
    display: flex;
    margin-left: 2%;
    height: 5em;
}
.page1{
    margin: 0.9em 0.3em 0.9em 1em;
    text-decoration: none;
}

.page2{
    margin: 0.9em 0.3em 0.9em 1em;
}

.page3{
    margin: 0.9em 0.3em 0.9em 1em;
}

.page4{
    margin: 0.9em 0.3em 0.9em 1em;
}

.search, .form-search{
    position: absolute;
    flex-wrap: wrap;
    width: 58%;
    height: 50px;
    margin-top: 7px;
    float: left;
    left: 35%;
}

.form-search{
    padding: 10px;
    border-radius: 5px;
}

::placeholder{
    font-size: 20px;
    text-transform: uppercase;
}

.user{
    display: flex;
    position: absolute;
    width: 12em;
    right: -3em;

}

.cart{
    display: flex;
    width: 5em;
    height: 5em;
    position: absolute;
    right:0;
    margin-top: -0.4em;
}

.user-img{
    width: 100%;
    margin-top: 1em;
    margin-right: 3em;
}

.cart-img{
    width: 80%;
    margin-top: 0.7em;
}

.main{
    margin-top: 4em;
}

img {
    max-width: 100%;
}

.preview {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
}

.preview-pic {
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
}

.preview-thumbnail.nav-tabs {
    border: none;
    margin-top: 15px;
}

.preview-thumbnail.nav-tabs li {
    width: 18%;
    margin-right: 2.5%;
}

.preview-thumbnail.nav-tabs li img {
    max-width: 100%;
    display: block;
}

.preview-thumbnail.nav-tabs li a {
    padding: 0;
    margin: 0;
}

.preview-thumbnail.nav-tabs li:last-of-type {
    margin-right: 0;
}

.tab-content {
    overflow: hidden;
}

.tab-content img {
    width: 100%;
    -webkit-animation-name: opacity;
    animation-name: opacity;
    -webkit-animation-duration: .3s;
    animation-duration: .3s;
}

.card {
    background: #eee;
    padding: 3em;
    line-height: 1.5em;
}


.details {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
}

.colors {
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
}

.product-title,
.price,
.sizes,
.colors {
    text-transform: UPPERCASE;
    font-weight: bold;
}

.checked{
    color:#ff9f1a;
}

.price span {
    color: rgb(230, 26, 26);
}

.product-title,
.rating,
.product-description,
.price,
.vote,
.sizes {
    margin-bottom: 15px;
}

.product-title {
    margin-top: 0;
}

.size {
    margin-right: 10px;
}

.size:first-of-type {
    margin-left: 40px;
}

.color {
    display: inline-block;
    vertical-align: middle;
    margin-right: 10px;
    height: 2em;
    width: 2em;
    border-radius: 2px;
}

.color:first-of-type {
    margin-left: 20px;
}

.add-to-cart,
.like {
    padding: 1.2em 1.5em;
    border: none;
    text-transform: UPPERCASE;
    font-weight: bold;
    -webkit-transition: background .3s ease;
    transition: background .3s ease;
}

.like:hover{
    background-color: #fff;
    box-shadow: 0 1px 20px 0 rgba(0, 0, 0, 0.5);
    transform:translateY(-1px);
}

.add-to-cart:hover{
    background-color: #000;
    color: white;
    box-shadow: 0 1px 20px 0 rgba(0, 0, 0, 0.5);
    transform:translateY(-1px);
}

.not-available {
    text-align: center;
    line-height: 2em;
}

.not-available:before {
    font-family: fontawesome;
    content: "\f00d";
    color: #fff;
}

.orange {
    background: #ff9f1a;
}

.green {
    background: #85ad00;
}

.blue {
    background: #0076ad;
}

.tooltip-inner {
    padding: 1.3em;
}

@-webkit-keyframes opacity {
    0% {
        opacity: 0;
        -webkit-transform: scale(3);
        transform: scale(3);
    }

    100% {
        opacity: 1;
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}

@keyframes opacity {
    0% {
        opacity: 0;
        -webkit-transform: scale(3);
        transform: scale(3);
    }

    100% {
        opacity: 1;
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}


footer{
    position: relative;
    width: 100%;
    height: auto;
    padding: 50px 100px;
    background: #111;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
footer .container{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    flex-direction: row;
}

footer .container .noi-dung{
    margin-right: 30px;
}

footer  .container .noi-dung.about{
    width:40%;
}

footer .container .noi-dung.about h2{
    position: relative;
    color: #fff;
    font-weight: 500;
    margin-bottom: 10px;
}

/* footer .container .noi-dung.about h2:before{
    content: '';
    position: absolute;
    bottom: -5px;
    left: 0;
    width:173px;
    height: 2px;
    background: #f00;
} */

footer .container .noi-dung.about p{
    color: #999;
    line-height: 1.6em;
}

.social-icon{
    margin-top: 20px;
    display: flex;
}

.social-icon li {
    list-style: none;
}

.social-icon li a{
    display: inline-block;
    width: 40px;
    height: 40px;
    background: #222;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
    text-decoration: none;
    border-radius: 4px;
}

.social-icon li a:hover{
    background: #f00;
}

.social-icon li a .fa{
    color: #fff;
    font-size: 20px;
}

.links h2{
    position: relative;
    color: #fff;
    font-weight: 500;
    margin-bottom: 15px;
}

.links h2{
    position: relative;
    color: #fff;
    font-weight: 500;
    margin-bottom: 15px;
}

.links{
    position: relative;
    width: 25%;
}

.links ul li{
    list-style: none;
}

.links ul li a{
    color: #999;
    text-decoration: none;
    margin-bottom: 10px;
    display: inline-block;
    line-height: 1.2em;
}

.links ul li a:hover{
    color: #fff;
}

.contact h2{
    position: relative;
    color: #fff;
    font-weight: 500;
    margin-bottom: 15px;
}

.contact{
    width: calc(35% - 60px);
    margin-right: 0 !important;
}
.contact .info{
    position: relative;
}
.contact .info li{
    display: flex;
    margin-bottom: 16px;
    line-height: 1.9em;
}
.contact .info li span:nth-child(1) {
    color: #fff;
    font-size: 20px;
    margin-right: 10px;
}
.contact .info li span{
    color: #999;
}
.contact .info li a{
    color: #999;
    text-decoration: none;
}

.fa-map-marker{
    margin-right: 10px;
}

.fa-envelope{
    margin-left: -5px;
}

@media screen and (max-width: 450px){

    .header{
        position: fixed;
        width: 100vw;
        height: 9.8em;
    }
    
    .main-header{
        width: 100%;
        height: 100%;
        background-color: #000;
    }

    .content{
        display: none;
    }

    .search{
        /* position: relative; */
        margin: 5em -87%;
        width: 160%;
    }

    .slideshow{
        display: none;
    }

    .home-product {
        margin-top: 150px;
        margin-bottom: 10px;
        margin-left: 3em;
    }
    
    
    .home-product-item {
        background-color: white;
        margin-top: 10px;
        position: relative;
        border-radius: 2px;
        box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.1);
        transition: transform linear 0.1s;
        will-change: transform;
        display:block;
        text-decoration: none;
        padding-bottom: 6px;
        width: 20em;
    }
    
    
    .home-product-item:hover {
        box-shadow: 0 1px 20px 0 rgba(0, 0, 0, 0.5);
        transform:translateY(-1px);
    }
    
    .home-product-item__img {
        padding-top: 100%;
        background-size:contain;
        background-position: center;
        background-repeat: no-repeat;
        border-top-left-radius: 2px;
        border-top-right-radius: 2px;
    }
    
    .home-product-item__name {
        font-size: 1.4rem;
        font-weight: 400;
        color: #666;
        line-height: 1.8rem;
        height: 3.6rem;
        margin: 10px 10px 6px;
        overflow: hidden;
        display: block;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 2;
    }
    
    .home-product-item__price {
        display: flex;
        align-items: baseline;
        flex-wrap: wrap;
    }
    
    .home-product-item__price-old {
        font-size: 1.4rem;
        margin-left:10px;
        color: #666;
        text-decoration: line-through;
    }
    
    .home-product-item__price-current {
        font-size: 1.6rem;
        color: rgb(230, 26, 26);
        margin-left: 10px;
        font-weight: bold;
        font-family: roboto, arial, helvetica;
    }
    
    
    .home-product-item__origin {
        display: flex;
        justify-content: space-between;
        margin: 3px 10px 0;
        font-size: 1.2rem;
        font-weight: 300;
        color: #595959;
    }
    
    .home-product-item__brand{
        font-family: monospace;
        font-size: 1.1rem;
    }

    .grid__row{
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        margin-left: -5px;
        margin-right: -5px;
    }

    .best-product{
        width: auto;
        background-color: #000;
        padding: 15px;
        color: #fff;
        margin-right: 1.6em;
        font-family: monospace;
        font-weight: bold;
    }

    .tblGeneralAttribute{
        background-color: #ffffff;
        border-collapse: collapse;
        border-spacing: 0px;
        border: 1px solid #eeeeee;
        box-sizing: border-box;
        color: #333333;
        font-family: Roboto,sans-serif;
        font-size: 13px;
        line-height: 20px;
        margin-bottom: 20px;
        margin-left: auto;
        margin-right: auto;
        max-width: 100%;
        min-width: 500px;
        width: 100%;
    }

    label{
        font-size: 1.1rem;
    }

    footer{
        position: relative;
        width: 100%;
        height: auto;
        padding: 50px 100px;
        background: #111;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }
    footer .container{
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        flex-direction: column;
    }
    
    footer .container .noi-dung{
        margin-left: -20px;
    }
    
    footer  .container .noi-dung.about{
        width:100%;
    }

    footer  .container .noi-dung.links{
        width:100%;
    }

    footer  .container .noi-dung.contact{
        width:100%;
    }
    
    footer .container .noi-dung.about h2{
        position: relative;
        color: #fff;
        font-weight: 500;
        margin-bottom: 10px;
    }
    
}