*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #EFEFEF;
    display: flex;
    justify-content: flex-end;
    min-height: 100vh;
    flex-direction: column;
}

.header{
    position: fixed;
    width: 100%;
    height: 5em;
    z-index: 1;
}

.main-header{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
    background-color: #000;
    text-align: center;
}

.logo{
    width: 7em;
    margin-left: 1%;

}

.logo-img{
    width: 100%;
}

.content{
    display: flex;
    margin-left: 2%;
    height: 5em;
}
.page1{
    margin: 0.9em 0.9em 0.9em 1em;
    text-decoration: none;
}

.page2{
    margin: 0.9em 0.9em 0.9em 1em;
}

.page3{
    margin: 0.9em 0.9em 0.9em 1em;
}

.page4{
    margin: 0.9em 0.9em 0.9em 1em;
}

.search, .form-search{
    position: absolute;
    flex-wrap: wrap;
    width: 58%;
    height: 50px;
    margin-top: 7px;
    float: left;
    left: 35%;
}

.form-search{
    padding: 10px;
    border-radius: 5px;
    outline: none;
}

::placeholder{
    font-size: 20px;
    text-transform: uppercase;
}

.user{
    display: flex;
    position: absolute;
    width: 12em;
    right: -3em;

}

.popup {
    display: none;
    position: fixed;
    padding-top: 50px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.5);
}

.card {
    width: 400px;
    height: 400px;
    background: #F4F6FB;
    border: 1px solid white;
    box-shadow: 10px 10px 64px 0px rgba(180, 180, 207, 0.75);
    -webkit-box-shadow: 10px 10px 64px 0px rgba(186, 186, 202, 0.75);
    -moz-box-shadow: 10px 10px 64px 0px rgba(208, 208, 231, 0.75);
}

.form {
    padding: 25px;
    margin: 10% 42% 20% 42%;
}

.card_header {
    display: flex;
    align-items: center;
}

.card svg {
    color: #7878bd;
    margin-bottom: 20px;
    margin-right: 5px;
}

.form_heading {
    font-size: 40px;
    padding-bottom: 20px;
    color: #7878bd;
}

.field {
    padding-bottom: 10px;
}

div > .input{
    border-radius: 5px;
    background-color: #e9e9f7;
    padding: 9px 5px 5px 5px;
    width: 100%;
    height: 3em;
    color: #7a7ab3;
    border: 1px solid #dadaf7;
}

.input:focus-visible {
    outline: 1px solid #aeaed6;
}

.input::placeholder {
    color: #bcbcdf;
}

label {
    color: #B2BAC8;
    font-size: 1.4rem;
    display: block;
    padding-bottom: 4px;
}

button {
    background-color: #7878bd;
    margin-top: 10px;
    font-size: 14px;
    padding: 7px 12px;
    font-weight: 500;
    color: white;
}

button:hover {
    background-color: #5f5f9c;
}

.cart{
    display: flex;
    width: 5em;
    height: 5em;
    position: absolute;
    right:0;
    margin-top: -0.4em;
}

.user-img{
    width: 200%;
    margin-top: 0em;
    margin-right: 3em;
}

.cart-img{
    width: 80%;
    margin-top: 0.7em;
}

.slideshow{
    overflow: hidden;
    height: 1100px;
    width: 1920px;
    margin: 0 auto;
}

.slide-wrapper{
    width: 9600px;
    -webkit-animation: slide 20s ease infinite;
}

.slide{
    float: left;
    width: 1920px;
    height: 1080px;
    margin-top: 63px;
}

@-webkit-keyframes slide{
    10% {margin-left: 0px;}
    20%{margin-left: -1920px;}
    30%{margin-left: -1920px;}
    40% {margin-left: -3840px;}
    50% {margin-left: -3840px;}
    60% {margin-left: -5760px;}
    70% {margin-left: -5760px;}
    80% {margin-left: -7680px;}
    90% {margin-left: -7680px;}
}

footer{
    position: relative;
    width: 100%;
    height: auto;
    padding: 50px 100px;
    background: #111;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
footer .container{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    flex-direction: row;
}

footer .container .noi-dung{
    margin-right: 30px;
}

footer  .container .noi-dung.about{
    width:40%;
}

footer .container .noi-dung.about h2{
    position: relative;
    color: #fff;
    font-weight: 500;
    margin-bottom: 10px;
}

/* footer .container .noi-dung.about h2:before{
    content: '';
    position: absolute;
    bottom: -5px;
    left: 0;
    width:173px;
    height: 2px;
    background: #f00;
} */

@-webkit-keyframes ico{
    0% { color: #F8CD0A; } 
    50% { color: #fff;  } 
    100% { color: #F8CD0A;  } 
}
@-moz-keyframes ico{ 
    0% { color: #F8CD0A;  } 
    50% { color: #fff;  }
    100% { color: #F8CD0A;  } 
}
@-o-keyframes ico{ 
    0% { color: #F8CD0A; } 
    50% { color: #fff; } 
    100% { color: #F8CD0A;  } 
}
@keyframes ico{ 
    0% { color: #F8CD0A;  } 
    50% { color: #fff;  }
    100% { color: #F8CD0A;  } 
} 

.ico-product{
    position: absolute;
    right: 0px;
    margin: 10px 10px 0 0;
    padding: 5px 16px;
    background: red;
    color: #FFF;
    font-weight: bold;
    font-size: 20px;
    -webkit-animation:ico 700ms infinite;
	-moz-animation: ico 700ms infinite; 
	-o-animation: ico 700ms infinite; 
	animation: ico 700ms infinite;
}

.onsale{
    display: inline-flex;
    align-items: center;
    margin: 10px 0 0 10px;
    height: 1.7rem;
    font-weight: 500;
    font-size: 1.25rem;
    z-index: 1;
    color: #fff;
    text-align: center;
    line-height: normal;
    padding: 0 0.25rem;
    border-radius: 0.125rem;
    background: linear-gradient(-90deg,#ec1f1f 0,#ff9c00 100%);
    position: absolute;
}

footer .container .noi-dung.about p{
    color: #999;
    line-height: 1.6em;
}

.social-icon{
    margin-top: 20px;
    display: flex;
}

.social-icon li {
    list-style: none;
}

.social-icon li a{
    display: inline-block;
    width: 40px;
    height: 40px;
    background: #222;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
    text-decoration: none;
    border-radius: 4px;
}

.social-icon li a:hover{
    background: #f00;
}

.social-icon li a .fa{
    color: #fff;
    font-size: 20px;
}

.links h2{
    position: relative;
    color: #fff;
    font-weight: 500;
    margin-bottom: 15px;
}

.links h2{
    position: relative;
    color: #fff;
    font-weight: 500;
    margin-bottom: 15px;
}

/* .links h2::before{
    content: '';
    position: absolute;
    bottom: -5px;
    left: 0;
    width: 50px;
    height: 2px;
    background: #f00;
} */

.links{
    position: relative;
    width: 25%;
}

.links ul li{
    list-style: none;
}

.links ul li a{
    color: #999;
    text-decoration: none;
    margin-bottom: 10px;
    display: inline-block;
    line-height: 1.2em;
}

.links ul li a:hover{
    color: #fff;
}

.contact h2{
    position: relative;
    color: #fff;
    font-weight: 500;
    margin-bottom: 15px;
}
/* .contact h2::before{
    content: '';
    position: absolute;
    bottom: -5px;
    left: 0;
    width: 50px;
    height: 2px;
    background: #f00;
} */
.contact{
    width: calc(35% - 60px);
    margin-right: 0 !important;
}
.contact .info{
    position: relative;
}
.contact .info li{
    display: flex;
    margin-bottom: 16px;
    line-height: 1.9em;
}
.contact .info li span:nth-child(1) {
    color: #fff;
    font-size: 20px;
    margin-right: 10px;
}
.contact .info li span{
    color: #999;
}
.contact .info li a{
    color: #999;
    text-decoration: none;
}

.fa-map-marker{
    margin-right: 10px;
}

.fa-envelope{
    margin-left: -5px;
}

@media screen and (min-width: 1900px){
    .container{
        max-width: 1900px;
    }
}

@media screen and (max-width: 450px){
    
    .header{
        position: fixed;
        width: 100vw;
        height: 9.8em;
    }
    
    .main-header{
        width: 100%;
        height: 100%;
        background-color: #000;
    }

    .content{
        display: none;
    }

    .search{
        position: relative;
        margin: 5em -29.8em;
        width: 160%;
    }

    .slideshow{
        display: none;
    }

    .home-product {
        margin-top: 150px;
        margin-bottom: 10px;
        margin-left: 3em;
    }
    
    
    .home-product-item {
        background-color: white;
        margin-top: 10px;
        position: relative;
        border-radius: 2px;
        box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.1);
        transition: transform linear 0.1s;
        will-change: transform;
        display:block;
        text-decoration: none;
        padding-bottom: 6px;
        width: 20em;
    }
    
    
    .home-product-item:hover {
        box-shadow: 0 1px 20px 0 rgba(0, 0, 0, 0.5);
        transform:translateY(-1px);
    }
    
    .home-product-item__img {
        padding-top: 100%;
        background-size:contain;
        background-position: center;
        background-repeat: no-repeat;
        border-top-left-radius: 2px;
        border-top-right-radius: 2px;
    }
    
    .home-product-item__name {
        font-size: 1.4rem;
        font-weight: 400;
        color: #666;
        line-height: 1.8rem;
        height: 3.6rem;
        margin: 10px 10px 6px;
        overflow: hidden;
        display: block;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 2;
    }
    
    .home-product-item__price {
        display: flex;
        align-items: baseline;
        flex-wrap: wrap;
    }
    
    .home-product-item__price-old {
        font-size: 1.4rem;
        margin-left:10px;
        color: #666;
        text-decoration: line-through;
    }
    
    .home-product-item__price-current {
        font-size: 1.6rem;
        color: rgb(230, 26, 26);
        margin-left: 10px;
        font-weight: bold;
        font-family: roboto, arial, helvetica;
    }
    
    
    .home-product-item__origin {
        display: flex;
        justify-content: space-between;
        margin: 3px 10px 0;
        font-size: 1.2rem;
        font-weight: 300;
        color: #595959;
    }
    
    .home-product-item__brand{
        font-family: monospace;
        font-size: 1.1rem;
    }

    .grid__row{
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        margin-left: -5px;
        margin-right: -5px;
    }

    .best-product{
        width: auto;
        background-color: #000;
        padding: 15px;
        color: #fff;
        margin-right: 1.6em;
        font-family: monospace;
        font-weight: bold;
    }

    label{
        font-size: 1.1rem;
    }

    footer{
        position: relative;
        width: 100%;
        height: auto;
        padding: 50px 100px;
        background: #111;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }
    footer .container{
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        flex-direction: column;
    }
    
    footer .container .noi-dung{
        margin-left: -20px;
    }
    
    footer  .container .noi-dung.about{
        width:100%;
    }

    footer  .container .noi-dung.links{
        width:100%;
    }

    footer  .container .noi-dung.contact{
        width:100%;
    }
    
    footer .container .noi-dung.about h2{
        position: relative;
        color: #fff;
        font-weight: 500;
        margin-bottom: 10px;
    }
    
}

.best-product{
    width: auto;
    background-color: #000;
    padding: 15px;
    font-size: 27px;
    color: #fff;
    margin-right: 1.6em;
    font-family: monospace;
    font-weight: bold;
}

.best-seller{
    width: auto;
    background-color: #000;
    padding: 15px;
    font-size: 27px;
    color: #fff;
    margin-right: 1.6em;
    margin-top: 0.5em;
    font-family: monospace;
    font-weight: bold;
}

.gaming{
    width: auto;
    background-color: #000;
    padding: 15px;
    font-size: 27px;
    color: #fff;
    margin-right: 1.6em;
    margin-top: 0.5em;
    font-family: monospace;
    font-weight: bold;
}

.office{
    width: auto;
    background-color: #000;
    padding: 15px;
    font-size: 27px;
    color: #fff;
    margin-right: 1.6em;
    margin-top: 0.5em;
    font-family: monospace;
    font-weight: bold;
}

.workstation{
    width: auto;
    background-color: #000;
    padding: 15px;
    font-size: 27px;
    color: #fff;
    margin-right: 1.6em;
    margin-top: 0.5em;
    font-family: monospace;
    font-weight: bold;
}

.grid__row{
    display: flex;
    flex-wrap: wrap;
    /* flex-direction: row; */
    margin-left: -5px;
    margin-right: -5px;
}


.grid__column-2-4 {
    padding-left: 5px;
    padding-right: 5px;
    width:20%;
}


.home-product {
    margin-bottom: 10px;
    margin-left: 3em;

}


.home-product-item {
    background-color: white;
    margin-top: 10px;
    position: relative;
    border-radius: 2px;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.1);
    transition: transform linear 0.1s;
    will-change: transform;
    display:block;
    text-decoration: none;
    padding-bottom: 6px;
    width: 20em;
}


.home-product-item:hover {
    box-shadow: 0 1px 20px 0 rgba(0, 0, 0, 0.5);
    transform:translateY(-1px);
}

.home-product-item__img {
    padding-top: 100%;
    background-size:contain;
    background-position: center;
    background-repeat: no-repeat;
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
}

.home-product-item__name {
    font-size: 1.4rem;
    font-weight: 400;
    color: #666;
    line-height: 1.8rem;
    height: 3.6rem;
    margin: 10px 10px 6px;
    overflow: hidden;
    display: block;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
}

.home-product-item__price {
    display: flex;
    align-items: baseline;
    flex-wrap: wrap;
}

.home-product-item__price-old {
    font-size: 1.4rem;
    margin-left:10px;
    color: #666;
    text-decoration: line-through;
}

.home-product-item__price-current {
    font-size: 1.6rem;
    color: rgb(230, 26, 26);
    margin-left: 10px;
    font-weight: bold;
    font-family: roboto, arial, helvetica;
}


.home-product-item__origin {
    display: flex;
    justify-content: space-between;
    margin: 3px 10px 0;
    font-size: 1.2rem;
    font-weight: 300;
    color: #595959;
}

.home-product-item__brand{
    font-family: monospace;
    font-size: 1.1rem;
}

